---
title: ISB Lab Members
layout: team
group: team
---

<h1>ISB Lab Members</h1>

{% for member in site.members %}

{% if member.labposition contains "Alumni" %}
{% continue %}
{% endif %}

        <hr>
        <!-- The paddingtop and margin-top edits allow anchors to link properly. -->
        <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{member.image}}" alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>

                {{member.currposition | markdownify | remove: '<p>' | remove: '</p>' }} <br>
                <em>{{member.email}}</em> <br>

               <!--  {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a> <br>
                {% endif %}

                -->

            </div>
            <div class="col-sm-8">
                <p class="text-justify">{{member.description | markdownify}}</p>
            </div>
        </div>
{% endfor %}

<hr>
<h4>Alumni: hall of fame </h4>

{% for member in site.members %}
{% unless member.labposition contains "Alumni" %}
{% continue %}
{% endunless %}

        <hr>
          <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <strong>{{member.name}}</strong> <br>
                {{member.currposition | markdownify | remove: '<p>' | remove: '</p>' }} <br>

            </div>
            <div class="col-sm-8">
                <p class="text-justify">{{member.description | markdownify}}</p>
            </div>
        </div>
{% endfor %}
<hr>

</div>
