---
title: ISB Lab Members
layout: team
group: Team
---

<h2>ISB Lab Members</h2>
<hr>
<h3> Stuck </h3>

{% for member in site.members %}

{% unless member.labposition contains "Current" %}
{% continue %}
{% endunless %}

<hr>
<!-- The paddingtop and margin-top edits allow anchors to link properly. -->
<div id="{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">

    <div class="col-sm-4">
        <img class="img-fluid" src="{{member.image}}" alt="{{member.name}}" ; width="150" ; height="150"><br>
        <strong>{{member.name}}</strong> <br>

        {{member.currposition | markdownify | remove: '<p>' | remove: '</p>' }} <br>
        <em style="font-size: 0.85em;">{{member.email}}</em> <br>

        <span style="color:purple;font-size:1.2em">{{member.nickname}}</span>

        <!--  {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a> <br>
                {% endif %}
                -->

    </div>
    <div class="col-sm-8">
        <p class="text-justify">{{member.description | markdownify}}</p>
    </div>
</div>
{% endfor %}<br><br>

<hr>
<h3> Escaped </h3>
<hr>
Former members: What they did and where they are now.<br><br>



<h5> Trainees (6 months +) </h5>

{% for member in site.members reversed %}
{% unless member.labposition contains "Trainee" %}
{% continue %}
{% endunless %}

<hr>

<div id="{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
    <div class="col-sm-4">
        <strong>{{member.name}}</strong> <br>
        {{member.currposition | markdownify | remove: '<p>' | remove: '</p>' }} <br>

    </div>
    <div class="col-sm-8">
        <p class="text-justify">{{member.description | markdownify}}</p>
    </div>
</div>
{% endfor %}
<hr>

<h5> Short-term trainees </h5>

{% for member in site.members reversed %}
{% unless member.labposition contains "Short-term" %}
{% continue %}
{% endunless %}

<hr>

<div id="{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
    <div class="col-sm-4">
        <strong>{{member.name}}</strong> <br>
        {{member.currposition | markdownify | remove: '<p>' | remove: '</p>' }} <br>

    </div>
    <div class="col-sm-8">
        <p class="text-justify">{{member.description | markdownify}}</p>
    </div>
</div>
{% endfor %}
<hr>

</div>