{% include header.html %}

<div class="container px-2 max-width: 100%">
  <div class="row">
    <div class="col-sm-8 col-md-10 col-lg-10">

      <div class="carousel">

        <div class="slides" id="slides">

          <div class="slide" data-tooltip="3rd lab anniversary!">
            <img src="/static/img/funpics/3rd_lab_anniversary.jpg" alt="3rd_lab_anniversary">
          </div>
<!-- 
          <div class="slide" data-tooltip="Muskaan becomes a PhD student!">
            <img src="/static/img/funpics/muskaan_compre2.jpg" alt="muskaan_compre2">
          </div> -->
<!-- 
          <div class="slide" data-tooltip="NestOR party">
            <img src="/static/img/funpics/nestor_party.jpg" alt="nestor_party">
          </div> -->
<!-- 
          <div class="slide" data-tooltip="Book chapter party">
            <img src="/static/img/funpics/book_chapter.jpg" alt="book_chapter">
          </div> -->

          <div class="slide" data-tooltip="Andrej Sali's visit">
            <img src="/static/img/funpics/Andrej_visit.jpg" alt="Andrej_visit">
          </div>

          <div class="slide" data-tooltip="IMP workshop in MASFE at IISER Pune">
            <img src="/static/img/funpics/MASFE_workshop.jpg" alt="MASFE_workshop">
          </div>

          <!-- <div class="slide" data-tooltip="ISB lab students having fun at Orah (Easal party)">
            <img src="/static/img/funpics/Muskaan_easal_party.jpg" alt="Muskaan_easal_party">
          </div> -->

          <div class="slide" data-tooltip="Some people get a 'perspective' first">
            <img src="/static/img/funpics/QRB_party.jpg" alt="QRB_party">
          </div>

          <div class="slide" data-tooltip="Shreyas+Himanshu Birthday Party! co-conspirators">
            <img src="/static/img/funpics/Shreyas_Himanshu_Birthday_Party.jpg" alt="Shreyas_Himanshu_Birthday_Party">
          </div>

          <div class="slide" data-tooltip="Party stack at Cafe Rome">
            <img src="/static/img/funpics/Shreyas_OMG_Kartik_Muskaan_Party.jpg" alt="Shreyas_OMG_Kartik_Muskaan_Party">
          </div>

        </div>

        <div class="controls">
          <button class="control-btn" onclick="prevSlide()">&#10094;</button>
          <button class="control-btn" onclick="nextSlide()">&#10095;</button>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="container px-2 max-width: 100%">

  <div class="row">
    <div class="col-sm-8 col-md-10 col-lg-10">
      {{ content }}
    </div>
  </div>

</div>

{% include footer.html %}