{% include header.html %}

<div class="container px-2 max-width: 100%">
  <div class="row">
    <div class="col-sm-8 col-md-10 col-lg-10">

      <div class="carousel">

        <div class="slides" id="slides">

          <div class="slide" data-tooltip="3rd lab anniversary!">
            <img src="/static/img/funpics/3rd_lab_anniversary.jpg" alt="3rd_lab_anniversary">
          </div>

          <div class="slide" data-tooltip="ISB Lab @ NCBS Open Day">
            <img src="/static/img/funpics/open_day.jpg" alt="open_day">
          </div>

          <div class="slide" data-tooltip="Interns' farewell party!">
            <img src="/static/img/funpics/intern_farewell.jpg" alt="interns_farewell_party">
          </div>

          <div class="slide" data-tooltip="Lab 15, Baker Street">
            <img src="/static/img/funpics/madeup_cake.jpg" alt="madeup_cake">
          </div>

          <div class="slide" data-tooltip="Mischief managed!">
            <img src="/static/img/funpics/birthday_card.jpg" alt="birthday_card">
          </div>

          <div class="slide" data-tooltip="Some people get a 'perspective' first">
            <img src="/static/img/funpics/QRB_party.jpg" alt="QRB_party">
          </div>

        </div>

        <div class="controls">
          <button class="control-btn" onclick="prevSlide()">&#10094;</button>
          <button class="control-btn" onclick="nextSlide()">&#10095;</button>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="container px-2 max-width: 100%">

  <div class="row">
    <div class="col-sm-8 col-md-10 col-lg-10">
      {{ content }}
    </div>
  </div>

</div>

{% include footer.html %}