{% include header.html %}

<div class="container px-2 max-width: 100%">

  <div class="row">
  <div class="col-sm-8 col-md-10 col-lg-10">

  <!-- Now add the carousel -->

      <div class="carousel">
        <div class="slides" id="slides">
          <div class="slide">
            <img src="/static/img/pubpics/wdr.png" alt="WDR76-SPIN1-Nucleosome">
          </div>
          <div class="slide">
            <img src="/static/img/pubpics/disobind.png" alt="Disobind">
          </div>
          <div class="slide">
            <img src="/static/img/pubpics/nestor.png" alt="NestOR">
          </div>
          <div class="slide">
            <img src="/static/img/pubpics/desmosome_lpd.png" alt="Desmosome">
          </div>
        </div>

        <div class="controls">
          <button class="control-btn" onclick="prevSlide()">&#10094;</button>
          <button class="control-btn" onclick="nextSlide()">&#10095;</button>
        </div>
      </div>

    </div>
</div>
</div>

<!-- Actual contents -->
<div class="container px-2 max-width: 100%">
    <div class="row">
        <div class="col-sm-8 col-md-10 col-lg-10">
        	    {{ content }}
            </div>
        </div>
    </div>
</div>

<div class="container px-2 max-width: 100%">

<!-- Funding could not be added via markdown -->
<!-- Had to add separate row for this or else it was aligning to page width not container -->
    <div class="row">
      <div class="col-sm-8 col-md-10 col-lg-10">
      <h2 align=center> Funding </h3> <br>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-md-10 col-lg-10">
          <div class="row">
    <div class="col-sm"> <img class="img-fluid mx-auto d-block" style="width:80%" src="/static/img/logos/NCBSLogo.jpg" alt="NCBS"> </div>
    <div class="col-sm"> <img class="img-fluid mx-auto d-block" style="width:80%" src="/static/img/logos/tifrLogo.png" alt="TIFR"> </div>
    <div class="col-sm"> <img class="img-fluid mx-auto d-block" style="width:80%" src="/static/img/logos/serbLogo.png" alt="SERB"> </div>
    <div class="col-sm"> <img class="img-fluid mx-auto d-block" style="width:80%" src="/static/img/logos/dbtLogo.png" alt="DBT"> </div>
    </div>
  </div>
  </div>

</div>

{% include footer.html %}
