---
title: Publications
layout: publications
group: Publications
---
<!-- Title -->
<h1>Publications</h1>
<!-- Container for publications -->
<div class="container-fluid">

{% assign pubs = site.publications | sort: "pub_date" %}

{% for publication in pubs reversed %}
<hr>

<div class="row" style="padding-top: 60px; margin-top: -60px;">
    <div>
        <h5 style="font-size: 18px; overflow: hidden; text-overflow: ellipsis; max-width: 60%;">{{ publication.title | markdownify  | remove: '<p>' | remove: '</p>' }}</h5>
        <h6 style="font-size: 14px;">{{ publication.authors | markdownify | remove: '<p>' | remove: '</p>' }}</h6>
        {% if publication.journal %}
            <i>{{ publication.journal }},</i>
            {{publication.pub_date | split: "-" | first }}
        {% endif %}
    </div>
    {% if publication.image %}
        <img class="img-fluid" src="{{publication.image}}" alt="Key Figure" style="width: 200px; max-height: 200px; float: right;">
    {% endif %}
</div>

<div class="row" style="padding-top: 20px; margin-top: -20px;">
		{% if publication.doi %}
			<!-- DOI -->
			<a href="{{publication.doi}}" title="DOI for {{publication.title}} (opens in new tab)" target="_blank" style="font-size: 14px;">DOI</a>&emsp;
		{% endif %}
		
		<!-- PDF -->
		<a href="{{publication.pdf}}" title="PDF for {{publication.title}} (opens in new tab)" target="_blank" style="font-size: 14px;">PDF</a>&emsp;

		{% if publication.supplementary %}
			<!-- Supplementary -->
			<a href="{{publication.supplementary}}" title="Supplementary for {{publication.title}} (opens in new tab)" target="_blank" style="font-size: 14px;">Supplementary</a>&emsp;
		{% endif %}

		{% if publication.pdb_structures %}
			{% for code in publication.pdb_structures %}
				<!-- PDB entry -->
				<a href="{{code}}" title="PDB structure" target="_blank" style="font-size: 14px;">PDB entry</a>&emsp;
			{% endfor %}
		{% endif %}

		{% if publication.emdb_structures %}
			{% for code in publication.emdb_structures %}
				<!-- EMDB entry -->
				<a href="{{code}}" title="EMDB" target="_blank" style="font-size: 14px;">EMDB entry</a>&emsp;
			{% endfor %}
		{% endif %}

		{% if publication.website %}
			<!-- Website -->
			<a href="{{publication.website}}" title="Website: {{publication.website}} (opens in new tab)" target="_blank" style="font-size: 14px;">Website</a>&emsp;
		{% endif %}

		{% if publication.dataset %}
			<!-- Dataset -->
			<a href="{{publication.dataset}}" title="Zenodo" target="_blank" style="font-size: 14px;">Dataset</a>&emsp;
		{% endif %}

		{% if publication.links %}
			{% for link in publication.links %}

				<a href="{{link.url}}" alt="{{link.name}} (opens in new tab)" target="_blank" style="font-size: 14px;">{{link.name}}</a>&emsp;
			{% endfor %}
		{% endif %}
</div>
<!-- End of publication -->
<br>
{% endfor %}
</div>

