---
title: Publications
layout: default
group: Publications
---
<h1>Publications</h1>
<div class="container-fluid">

{% for publication in site.publications reversed | sort: "pub_date" %}
<hr>
<div class="row" style="padding-top: 60px; margin-top: -60px;" id="{{publication.pmid}}">
	<div>
		<h5>{{ publication.title | markdownify  | remove: '<p>' | remove: '</p>' }}</h5>
		<h6>{{ publication.authors | markdownify | remove: '<p>' | remove: '</p>' }}</h6>
		{% if publication.journal %}
			<i>{{ publication.journal }},</i>
			{{publication.pub_date | split: "-" | first }}
		{% endif %}
	</div>
</div>



		{% if publication.image %}
		 <div class="row" style="padding-top: 20px; margin-top: -20px">
			<div class="col-sm-4">
			<img class = "img-fluid" src = "{{publication.image}}" alt =  "Key Figure" style="max-height: 200px;">
    	</div>
			<div class="col-sm-6">
		{% else  %}
		 <div class="row" style="padding-top: 0px; margin-top: 0px">
			<div class="col-sm-6">
  	{% endif %}
	<!--PDF -->
	 <a href="{{publication.pdf}}" title =  "PDF for {{publication.title}} (opens in new tab)" target="_blank">PDF </a>&emsp;

	 <!--PDBs and EMDBs - optional-->
	 {% if publication.structures %}
		 {% for code in publication.structures %}
		 <a href="{{code}}" title =  "PDB/EMDB entry" target="_blank">PDB/EMDB entry </a>{% unless forloop.last %} {% endunless %}
		 {% endfor %}
		 &emsp;
	 {% endif %}

	 <!--Github - optional-->
	 {% if publication.website%}
   <a href="{{publication.website}}" alt="Website: {{publication.website}} (opens in new tab)" target="_blank">Website </a>
	 &emsp;
	 {% endif %}

		<!--dataset records - optional-->
		{% if publication.dataset %}
			<a href="{{publication.dataset}}" title =  "Zenodo " target="_blank">Dataset</a>
			&emsp;
		{% endif %}

		<!--additional links - optional-->
		{% if publication.links %}
			{% for link in publication.links %}
				 <a href="{{link.url}}" alt="{{link.name}} (opens in new tab)" target="_blank">{{link.name}} </a>
				 &emsp;
			{% endfor %}
		{% endif %}

</div>
</div>
<br>
{% endfor %}
</div>
